.form{
    text-align: right;
    margin-top: -60px;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: rgb(27, 74, 27);
    border-color: green;
  }

.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 550px;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }
  .p{
    color: red;
  }